* {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 200vh;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 8%;
    top: 0;
    z-index: 999;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    height: 75%;
    width: 98%;
    background-color: lightgray;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}
        #nav-links {
            display: flex;
            width: 60%;
            height: 100%;
            justify-content: end;
            align-items: flex-end;   
        }
        .navbar-links {
            display: flex;
            width: 80%;
            height: 50%;
            justify-content: space-evenly;
            margin-top: 1.5rem;
        }

aside {
    width: 3%;
    height: 91.5%;
    bottom: 0%;
    background-color: lightgray;
    float: left;
    position: fixed;
    z-index: 999;
    transition: all .3s ease-in;
}

.aside-on {
    position: fixed;
    bottom: 0;
    width: 10%;
}

main {
    position: relative;
    top: 4%;
    width: 96.73%;
    height: 90%;
    float: right;
}

.blur {
    filter: blur(1px);
}

section {
    display: inherit;
    width: 50%;
    height: 24.65%;
    margin: 0.1rem;
    margin-right: 0;
    float: right;
    background-color: lightgray;
}

article {
    width: 50%;
    height: 15rem;
    margin: 0.1rem;
    float: right;
    background-color: lightgray;
    margin-right: 0;
}

footer {
    position: relative;
    width: 96.73%;
    height: 5.7%;
    margin-top: 4rem;
    bottom: 0;
    float: right;
    background-color:lightgray;
}

.toggle-sidebar {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2.29vw;
    height: 4vh;
    margin: 0.2rem;
    border-radius: 3px;
    border: 1px solid#000;
}

.toggle-sidebar:hover {
    cursor: pointer;
}
